body{
    font-family: "Manrope", sans-serif;
    color: #18191F;
    background-color: #D5FAFC;
    /*для лаконичности*/
}
.container{
    margin: 0 auto;
    width: 1110px;
    background-color: #D5FAFC;
    padding-bottom: 30px;
}
.left_col{
    display: inline-block;
    width: 540px;
    margin-right: -4px;
    vertical-align: top;
}
#big_quotes{
    margin-top: 64px;
}
.h1_block{ /*не меняется правый отступ почему-то*/
    width: 445px;
    display: inline-block;
    margin-left: 94px;
    margin-top: -64px;
}
.main_text{
    width: 445px;
    display: inline-block;
}
.main_info{
    margin: 32px;
}
h2{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 8px;
}
.main_text p{
    font-size: 18px;
}
.little_block{
    width: 350px;
    display: inline-block;
    background-color: white;
    margin-top: 24px;
    margin-left: 190px;
}
.little_block p{
    width: 254px;
    display: inline-block;
    margin-left: 16px;
    margin-right: -4px;
}
.author_info{
    margin-top: 24px;
    width: 110px;
    margin-left: 20px;
}
#author{
    font-size: 18px;
    font-weight: 800;
}
#position{
    color: #969BAB;
    font-size: 14px;
    font-weight: 400;
}
.right_col{
    width: 445px;
    display: inline-block; 
    margin-left: 30px;
    margin-top: 168px;
}
.comment{
    margin-top: 24px;
}
.comment img{
    vertical-align: top;
}
.airbnb_block{
    width: 445px;
    padding: 32px;
    box-sizing: border-box;
    background-color: white;
}
.airbnb_block .comment p{
    width: 349px;
    display: inline-block;
    margin-left: 16px;
    margin-right: -4px;
}
.little_block_right{
    background-color: white;
    width: 350px;
    padding: 32px;
    margin-top: 30px;
}
.little_block_right p{
    width: 254px;
    display: inline-block;
    margin-left: 16px;
    margin-right: -4px;
}