@media screen and ( max-width: 1024px)
    header
        width: 968px
        .topNav-menu
            padding-top: 45px
        .sliderWrap
            width: 968px
        .topSliderDots
            right: 0
    .latest
        padding-top: 450px
        width: 930px
        &-storage
            width: 450px
            &-block
                width: 210px
                &:last-child
                    overflow-x: hidden
        &-bigBlock
            width: 450px
    .lastChance
        width: 968px
        &-sortItem
            padding-top: 20px
        &-storage
            &-slider
                width: 968px 
    .footer
        width: 1024px
        &-wrap
            width: 98%
        &-underline
            width: 100%
            &-grayLine
                width: 100%

@media screen and (max-width: 768px)
    body
        &::before
            top: 74%
    header
        width: 748px
        .topNav-menu
            padding-top: 45px
        .sliderWrap
            width: 748px
        .topSliderDots
            right: 0
    .latest
        margin: 0 auto
        padding-top: 450px
        width: 570px
        flex-direction: column
        &-storage
            width: 570px
            &-block
                width: 270px
        &-bigBlock
            width: 570px
            margin-top: 30px
            img
                width: 466px
                height: 490px
    .feedback
        padding-top: 650px
        width: 728px
    .lastChance
        width: 728px
        &-sortItem
            padding-top: 20px
        &-storage
            &-slider
                width: 700px
    .footer
        &-wrap
            width: 748px
        &-underline
            &-grayLine
                width: 768px